extends layout.pug

block content
    .layout
        .container
            h1#header Every idea needs a medium, and we prefer music.
            p#description Based off the blog-hosting site "Medium," Mezzo allows professional and undiscovered musicians, as well as music listeners, to share their experiences in music-making, education, and industry. We reject the idea that formal training denotes a larger part to play, and encourage all voices to deepen our musical knowledge and connnection as a community.
            form(action="https://github.com/sal-wav/Mezzo" method="GET")
                button#githubRepo(href="https://github.com/sal-wav/Mezzo") Mezzo Repository On Github
            .bioContainer
                .salina
                    p Salina Kuo
                    a(href="https://github.com/sal-wav/") Github
                .safiya
                    p Safiya Cain
                .jake
                    p Jake Grooms
                .hassan
                    p Hassan Tariq
