extends layout.pug
    h1 Every idea needs a medium, and we prefer music.
    p (Based off the blog-hosting site "Medium") Mezzo allows professional and undiscovered musicians to share their experiences in music-making, education, and industry. We reject the idea that formal training denotes a larger part to play, and encourage all voices to deepen our musical knowledge and connnection as a community.
