extends layout.pug
include utils.pug
block content
    .user-form-holder
        div
            +validationErrorSummary(errors)
        .user-form-div
            form.user-form(action= `/users/${locals.user.id}/destroy` method="POST")
                .user-warning-label
                    Label Enter your password below:
                .user-warning-field
                    input.user-input(type="text" name="password" required)
                .user-button
                    button.warning-button(type="submit") Delete Account
                .warning-text
                    p This action will erase all account data, and is not reversible!
                div.user-form-link
                    a(href="/") Cancel
