extends layout.pug
block content 
    div
      p Hello! We hate to see you go, are you sure you want to delete your account?
    div
      p You will no longer be subcribed to other accounts on your newsfeed and we will remove your data from our
      p system to keep your information safe.


