//- extends loggedOutLayout.pug
extends layout.pug

//- block content
//-   h1= message
//-   h2= error.status
//-   pre #{error.stack}
//-   each error in errors 
//-     h2= error.title
//-     p=error.message
