extends layout.pug

block content
    .feed-container
        p.feed-main-header What's popular on Mezzo right now
        .feed-main-underline
        body
            div.feed-preview
                each story in stories
                    .feed-story-image-container
                        img.feed-story-image(src=story.image)
                    .feed-story-title-container
                        a.feed-story-title(href=`/stories/${story.id}`)=story.title
                    p.feed-story-subtitle=story.subtitle
                    p.feed-story-content=story.content
                    p.feed-story-spacer .     .      .
