doctype html
html
  head
      block head
        title="Mezzo"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    block content
    span.header-nav-bar Board
    div
      img.header-nav-bar
    div
      input.header-nav-bar(type="search", name="search") Search
      i.fas.fa-home
    div
      button.header-nav-bar(name="upgrade") Upgrade
    div
      button.header-nav-bar(name="userIcon")
