doctype html

html
  head
      title="Mezzo"
      link(rel='stylesheet' href='/stylesheets/reset.css')
      link(rel='stylesheet' href='/stylesheets/user-forms.css')
      link(rel='stylesheet' href='/stylesheets/logged-in-nav-bar.css')
      link(rel='stylesheet' href='/stylesheets/home-feed.css')
      link(rel='stylesheet' href='/stylesheets/read-story.css')
  body
    .header-nav-bar
      .header-nav-logo
        a(href="/")
          img(class='logo' src='/images/Copy of mezzo..png')
      .header-nav-buttons
        form(action='/stories')
          input#search(type="search" placeholder="search" name="term" required)
          button 🔍

      if !locals.authenticated
          form(action="/users/login", method="get")
            button.header-nav-buttons#login(href='/users/login') Login
          form(action="/users/register", method="get")
            button.header-nav-buttons#register(href='/users/register') Register

      else
          .buttonContainer
            .dropdown.dropbtn
              img.avatar(src="/images/person-avatar-Imgur.jpg")
              .dropdowncontent
                ul
                  li
                    a.hidden(href="/stories/create") Create Story
                  li
                    a.hidden(href="/users/logout") Log Out
                  li
                    a.hidden(href="/delete-a-user") Delete Account
            button#upgrade(name="upgrade") Upgrade
  block content
