doctype html
html
  head
      title="Mezzo"
      link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    div
      div
        img.header-nav-bar
      div
        input.header-nav-bar#search(type="search", name="search", placeholder="Search")
        //- i.fas.fa-home
      div
        button.header-nav-bar#upgrade(name="upgrade") Upgrade
      div
        img.header-nav-bar#userIcon(name="userIcon")
        div.dropdown.hidden
          a.hidden(href="/create-a-story") Create Story
          a.hidden(href="/") Log Out
          a.hidden(href="/delete-a-user") Delete Account

  block content
