doctype html
html
  head
      title="Mezzo"
      link(rel='stylesheet' href='/stylesheets/reset.css')
      link(rel='stylesheet' href='/stylesheets/user-forms.css')
  body
    div
      div
        img.header-nav-bar
      div
        input.header-nav-bar#search(type="search", name="search", placeholder="Search")
        //- i.fas.fa-home
      div
        button.header-nav-bar#register(name="register") Register
      div
        button.header-nav-bar#login(name="login") Login
    block content
