doctype html
html
  head
      meta(charset='utf-8')
      title="Mezzo"
      link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    div
      div
      img.header-nav-bar
      div
      input.header-nav-bar#search(type="search", name="search", placeholder="Search")
      //- i.fas.fa-home
      div
      button.header-nav-bar#register(name="register") Register
      div
      button.header-nav-bar#login(name="login") Login
    block content
