doctype html
html
  head
      title="Mezzo"
      link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    div
        img.header-nav-bar
        input.header-nav-bar#search(type="search", name="search", placeholder="Search")
        //- i.fas.fa-home
        button.header-nav-bar#register(name="register") Register
        button.header-nav-bar#login(name="login") Login
    block content
