extends loggedOutLayout.pug
block content
    .user-form-div
        form(action="/users/login" method='POST' class="user-form")
            div.user-label
                label Email
            div.user-field
                input(type='text' name='email' required class="user-input")
            div.user-label
                label Password
            div.user-field
                input(type='password' name='password' required class="user-input")
            div.user-button
                button(type='submit' class="login-button") Log in
        //- if user
        //-     p=user.firstName
