extends layout.pug

block content
    form(action="/users/login" method='POST')
        div
            label Email
            input(type='text' name='email' required)
            input(type='hidden' name='_csrf' value=token)
        div
            label Password
            input(type='password' name='password' required)
        div
            button(type='submit') Login
    if user
        p=user.firstName

        form(action="/users/logout" method="POST")
            div
                button(type='submit') Logout
