extends layout.pug

block content
    .user-form-holder
        .user-form-div
            form(action="/users/login" method='POST' class="user-form")
                div
                    input(type='hidden' name='_csrf' value=token)
                .user-label
                    label Email
                .user-field
                    input(type='text' name='email' required class="user-input")
                .user-label
                    label Password
                .user-field
                    input(type='password' name='password' required class="user-input")
                .user-button
                    button(type='submit' class="login-button") Log in
            //- if user
            //-     p=user.firstName
