extends layout.pug
include utils.pug
block content
    .user-form-holder
        div
            +validationErrorSummary(errors)
        .user-form-div
            form(action="/users/login" method='POST' class="user-form")
                input(type='hidden' name='_csrf' value=token)
                div.user-label
                    label Email
                .user-field
                    input(type='text' name='email' required class="user-input")
                .user-label
                    label Password
                .user-field
                    input(type='password' name='password' required class="user-input")
                .user-button
                    button(type='submit' class="login-button") Log in
