extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  form(action='/users/register' method='post')
        div
            input(type='hidden' name='_csrf' value=token)
        div
            label First Name
            input(name="firstName" type="text")
        div
            label Last Name
            input(name="lastName" type="text")
        div
            label Email
            input(name="email" type="text")
        div
            label Password
            input(name="password" type="password")
        div
            button(type="submit") Register
            a(href='/' class='btn btn-warning ml-2') Cancel
        div
            p: a(href='/users/login') Already have an account?
