extends loggedOutlayout.pug
block content
    form(action="/users/register" method='POST')
        div
            label First Name
            input(type='text' name='firstName' required)
        div
            label Last Name
            input(type='text' name='lastName' required)
        div
            label Email
            input(type='text' name='email' required)
        div
            label Password
            input(type='password' name='password' required)
        div
            button(type='submit') Register
