extends layout.pug

block content
    .user-form-holder
        .user-form-div
            form(action="/users/register" method='POST' class="user-form")
                div.user-label
                    label First Name
                .user-field
                    input(type='text' name='firstName' required class="user-input")
                .user-label
                    label Last Name
                .user-field
                    input(type='text' name='lastName' required class="user-input")
                .user-label
                    label Email
                .user-field
                    input(type='text' name='email' required class="user-input")
                .user-label
                    label Password
                .user-field
                    input(type='password' name='password' required class="user-input")
                .user-label
                    label Confirm Password
                .user-field
                    input(type='password' name='confirmPassword' required class="user-input")
                .user-button
                    button(type='submit' class="login-button") Register
                div
                    a(href="/users/login") Already have an account?
