extends layout.pug

block content
    .story-form-holder
        .story-form-div
            form(action="/stories/create", method="post" class="user-form")
                .story-headers
                    .story-label
                        label Title
                    .user-field
                        input(type="text" name="title" required class="user-input")
                    .story-label
                        label Subtitle
                    .user-field
                        input(type="text" name="subtitle" required class="user-input")
                .story-body-label
                    label Story
                .story-field
                    textarea(name="content" required class="story-textarea" rows="30" cols="70")
                .user-button
                    button(type="submit" class="login-button") Publish
