extends loggedOutLayout

block content
    header What's popular on Mezzo right now
    body
        each story in stories
            img(src=story.image)
            h1=story.title
            p=story.subtitle
            p=story.author
