extends layout.pug

block content
    form(action='/users/register' method="POST")
        div
            input(type="hidden" name="_csrf" value=token)
        div
            label First Name
            input(name="firstName" type="text")
        div
            label Last Name
            input(name="lastName" type="text")
        div
            label Email
            input(name="email" type="text")
        div
            label Password
            input(name="password" type="password")
        div
            button(type="submit") Register
