extends layout.pug
block content
    body
        .intro-to-premium
            .upgrade-container
                .imgContainer
                    img#upgrade23(class='center-text' src='/images/mezzo-cover-banner.png')
                h3#upgrade2 Upgrade to premium membership for $5/month or $50/year.
                img#jukebox(class="left-center-pic" src='/images/mainbanner4.png')
                img#reading(class='right-center-pic' src='/images/readingbook.png')
        .benefits-to-premium
            .right
                h2#upgrade3 Get unlimited access to anything you ever wanted to know about music.
                img(class="right-pic" src='/images/rightone.png')
            .left
                h2#upgrade4 Support the musicians you want to hear more from.
                img(class="left-pic" src='/images/artists1.png')
        .user-recommendations
            div
                img#love(class='bottom' src='/images/whylove.png')
                p "I love Mezzo because it is place, I mean you can go other places too if you want but like where Musicians can come to create. It is a great outlet for me when I am looking for motivation in writing songs." - Gazelle
                p "I've always had a hard time expressing the message in my singing and dancing now I have a community to relate to!" - Powerline
                p "That boy Hercules knows he trouble for everyone" - Muses
