.layout {
    background-color: #fcfffd;
	padding: 15px;
	border-top: 2px solid black;
}

.container {
    margin: 0 auto;
    max-width: 700px;
}

#header {
    margin: 100px auto;
    font-weight: 700;
	font-size: 40pt;
}

#description {
    margin: 100px auto;
    width: 700px;
    font-weight: 20;
    font-size: 20pt;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#githubRepo {
    width: 300px;
	height: 70px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: #a5fccd;
    font-size: 15pt;
    grid-column-start: 2;
    color: black
}

#githubRepo:hover {
    width: 300px;
	height: 70px;
	border: 0;
    border-radius: 5px;
	background-color: black;
    font-size: 15pt;
    color: white;
}

.bioContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 100px 100px 100px 100px;
}

.img {
    height: 300px;
    width: 300px;
}

.bio {
    padding: 0 30px 0 30px;
}

.name {
    font-size: 18pt;
}

.link {
    text-decoration: none;
  }

.link:hover {
    text-decoration: underline;
}

.link:active {
    text-decoration: underline;
}
