.layout {
    background-color: #fcfffd;
	padding: 15px;
	border-top: 2px solid black;
}

.container {
    margin: 0 auto;
    max-width: 700px;
}

#header {
    margin: 100px auto;
    font-weight: 700;
	font-size: 40pt;
}

#description {
    margin: 100px auto;
    width: 700px;
    font-weight: 20;
    font-size: 20pt;
}

#githubRepo {
    width: 300px;
	height: 70px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: #a5fccd;
    font-size: 15pt;
    margin: 0 auto;

}



.bioContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 100px;
}
