/* navbar, logo, search, upgrade button, user icon,
drop down, create story, log out, delete account, categories */
.header-nav-bar{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0px 4px;
    line-height: 70px;
    font-size: 18px;
}

.header-nav-logo{
    display: flex;
    display: inline-block;
    justify-content: flex-start;
    padding: 8px;
}

.header-nav-buttons{
    display: flex;
    display: inline-block;
    justify-content: flex-end;
}

#upgrade{
    display: flex;
    display: inline-block;
    justify-content: flex-end;
    color: white;
    background-color: black;
}

#register{
    display: inline;
    width: 100px;
	height: 33px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: #a5fccd;
    font-size: 12pt;
    margin: 4px 4px 4px 4px;
}

#register:hover {
    display: inline;
    border-radius: 3px;
    border: 0;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 4px 4px 4px 4px;
}

#login{
    display: inline;
    width: 100px;
	height: 33px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: #a5fccd;
    font-size: 12pt;
    margin: 4px 4px 4px 4px;
}

#login:hover{
    display: inline;
    border-radius: 3px;
    border: 0;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 4px 4px 4px 4px;
}

.logo{
    width: 200px;
    height: auto;
}

#search{
    font-weight: 500px;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.avatarcontainer{
    width: 344px;
    margin: 0 auto;
    display: flex;
}

.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    display: flex-end;
}

.dropbtn{
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdowncontent{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdowncontent a{
    color: black;
    padding: 12x 16px;
    text-decoration: none;
    display: block;
}

dropdown-content a:hover{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdowncontent{
    display: block;
}

ul{
    list-style-type: none;
}

.buttoncontainer{
    align-items: center;
}
