/* navbar, logo, search, upgrade button, user icon,
drop down, create story, log out, delete account, categories */
.header-nav-bar{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0px 200px;
    line-height: 70px;
    font-size: 18px;
    background-color: #36454F;
}

.header-stuff-buttons{
    display:flex;
    justify-content: flex-end;
}

.header-nav-logo{
    display: flex;
    display: inline-block;
    justify-content: flex-start;
    padding: 8px;
}

.header-nav-buttons{
    display: flex;
    display: inline-block;
    justify-content: flex-end;
}

#upgrade{
    display: inline;
    width: 100px;
	height: 38px;
	border: 1px solid rgba(240, 227, 227, 0.959);
	border-radius: 5px;
    background-color: #a5fccd;
    font-size: 12pt;
    margin: 18px;
}

#upgrade:hover {
    display: inline;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 18px;
    transform: translateY(-1px);
    background-color: #4af99b;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#register{
    display: inline;
    width: 100px;
	height: 33px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: #a5fccd;
    font-size: 12pt;
    margin: 4px 4px 4px 4px;
}

#register:hover {
    display: inline;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 4px 4px 4px 4px;
    transform: translateY(-1px);
    background-color: #4af99b;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#login{
    display: inline;
    width: 100px;
	height: 33px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: #a5fccd;
    font-size: 12pt;
    margin: 4px 4px 4px 4px;
}

#login:hover{
    display: inline;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 4px 4px 4px 4px;
    transform: translateY(-1px);
    background-color: #4af99b;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#about{
    display: inline;
    width: 100px;
	height: 33px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: #a5fccd;
    font-size: 12pt;
    margin: 4px 4px 4px 4px;
}

#about:hover{
    display: inline;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 4px 4px 4px 4px;
    transform: translateY(-1px);
    background-color: #4af99b;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.logo{
    width: 200px;
    height: auto;
}

#search{
    font-weight: 500px;
    font-size: 16px;
    color: black;
    text-decoration: none;
    height: 33px;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.search{
    display: flex;
    margin-top: 18px;
}

#searchBtn {
    display: inline;
    width: 33px;
    height: 33px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 12pt;
}

#searchBtn:hover {
    display: inline;
    border-radius: 3px;
    border: 0;
    align-items: center;
    text-align: center;
    padding: 0px;
}

.avatarcontainer{
    width: 344px;
    margin: 0 auto;
    display: flex;
}

.avatar{
    margin: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    display: flex-end;
}

.dropbtn{
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdowncontent{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdowncontent a{
    color: black;
    padding: 12x 16px;
    text-decoration: none;
    display: block;
}

.dropdowncontent a:hover{
    color: #a5fccd;
    background-color: rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdowncontent{
    display: block;
}

ul{
    list-style-type: none;
}

.buttoncontainer{
    display: flex;
    justify-content: space-between;
}
