

.intro-to-premium {
    position: relative;
    width: auto;
    height: 464px;
    left: 0px;
    top: 0px;
    background: #a5fccd;
    border-color:cornsilk;
    border-style: solid;

}

/* .upgrade-container {
    height: 700px;
} */

.imgContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img#upgrade23{
    padding-top: 10px;
    grid-column-start: 2;
    color: #000;
    font-size: 7.3vw;
}

#reading{
    position: absolute;
    margin-left: 500px;
    margin-top: 37px;
}

img#jukebox{
    margin-top:49px;
}


h3#upgrade2{
    position: relative;
    top: 135px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 22px;
    text-align: center;
}


.benefits-to-premium{
    border-style: solid;
    width: auto;
    height: 150px;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #a5fccd;
    border-color: cornsilk;
    text-align: center;
}

.right{
    border-right: solid;
    border-color: cornsilk;
}

h2#upgrade3{
    font-weight: 100px;
    padding-top: 25px;
}

#upgrade4 {
    padding-top: 25px;
}


.user-recommendations{
    border-style: solid;
    height:300px;
    border-color: blanchedalmond;
    background-color: #36454F;
    text-align: center;
    color: white
}

/* Get the most from Mezzo. */

/* Rectangle 9 */
