body {
	background-color: rgba(0, 0, 0, 0.1);
}

.story-headers {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.story-textarea {
	resize: none;
	border: 1px solid black;
	border-radius: 5px;
}

.story-textarea:focus {
	background: #FCFFFD;
	outline: none;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.story-label {
	padding-top: 15px;
	padding-bottom: 15px;
}

.story-body-label {
	text-align: left;
	padding: 15px 15px 15px 0px;
}

.story-form-holder {
	display: flex;
	justify-content: center;
	padding-top: 100px;
}

.story-form-div {
	border: 1px solid black;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 50px;
	background-color: #36454F;
	width: 600px;
	height: 750px;
	display: flex;
	justify-content: center;
}

.user-form-div {
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	background-color: white;
	width: 300px;
	display: flex;
	justify-content: center;
}

.user-form-link {
	padding-top: 10px;
	text-align: center;
}

.user-warning-label {
	padding: 20px;
	text-align: center;
}

.warning-button {
	width: 150px;
	height: 33px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: #DF0000;
	font-size: 12pt;
}

.user-warning-field {
	padding: 5px 10px 10px 0px;
	display: flex;
	justify-content: center;
	height: 50px;
}

.warning-text {
	padding: 5px;
	text-align: center;
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid black;
	border-radius: 3px;
}

.user-form-holder {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.user-field {
	padding: 5px 10px 10px 0px;
	display: flex;
	justify-content: left;
	height: 50px;
}

.user-label {
	padding-top: 20px;
}

.user-input:focus {
	background: #e8fef3;
	outline: none;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

.user-input {
	border: 1px solid black;
	border-radius: 3px;
	height: auto;
	background-color: #a5fccd
}

.user-button {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.login-button {
	width: 100px;
	height: 33px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background-color: #a5fccd;
	font-size: 12pt;
}

.login-button:hover {
	transform: translateY(-1px);
	background-color: #4af99b;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.buttonContainer {
	display: flex;
	justify-content: space-around;
}

.user-error-title{
	padding-left: 15px;
}

.user-error-list{
	padding-left: 15px;
}

.user-error-item{
	padding-left: 15px;
}

.user-error-div {
	border: 1px solid #f5c6cb;
	color: #721c24;
	border-radius: 5px;
	padding: 10px;
	background-color: #f8d7da;
	width: 300px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

label{
	color: #a5fccd;
}
